In [1]:
from datetime import datetime
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud import bigquery
from google.cloud.exceptions import NotFound
import pandas as pd
import numpy as np
import yahoo_fin.stock_info as si
from utils.utils_bigquery import *
from datetime import *

In [2]:
key_path = key_path
project = project_id

# Sources
table = 'bronze_ticker_quarterly_income'
dataset = 'bronze'
table_conca = f'{project}.{dataset}.{table}'

# Loading tables
table_to_save = 'silver_ticker_quarterly_income'
dataset_to_save = 'silver'
table_conca_to_save = f'{project}.{dataset_to_save}.{table_to_save}'

In [3]:
# Conectamos con Bigquery
bigquery = BigQueryUtils(key_path)

In [4]:
df = bigquery.run_query(
    f"""
    SELECT
        *
    FROM {project}.{dataset}.{table}
    """
)
df

,ticker,date,Amortization,Amortization Of Intangibles Income Statement,Average Dilution Earnings,Basic Average Shares,Basic EPS,Cost Of Revenue,Depletion Income Statement,Depreciation Amortization Depletion Income Statement,...,Tax Provision,Tax Rate For Calcs,Total Expenses,Total Operating Income As Reported,Total Other Finance Cost,Total Revenue,Total Unusual Items,Total Unusual Items Excluding Goodwill,Write Off,id
0,A,2022-10-01 00:00:00+00:00,NaN,NaN,NaN,293000000.0,1.19,750000000.0,NaN,NaN,...,55000000.0,0.136,1.274000e+09,384000000.0,NaN,1.658000e+09,NaN,NaN,NaN,83203239d0e1d42c77b64b271fafd177
1,A,2022-10-02 00:00:00+00:00,NaN,NaN,NaN,293000000.0,1.19,750000000.0,NaN,NaN,...,55000000.0,0.136,1.274000e+09,384000000.0,NaN,1.658000e+09,NaN,NaN,NaN,d75bc63b32a9cca9f630e53f131d0631
2,A,2022-10-03 00:00:00+00:00,NaN,NaN,NaN,293000000.0,1.19,750000000.0,NaN,NaN,...,55000000.0,0.136,1.274000e+09,384000000.0,NaN,1.658000e+09,NaN,NaN,NaN,29550cb7997e3a540d64a821d26f9633
3,A,2022-10-04 00:00:00+00:00,NaN,NaN,NaN,293000000.0,1.19,750000000.0,NaN,NaN,...,55000000.0,0.136,1.274000e+09,384000000.0,NaN,1.658000e+09,NaN,NaN,NaN,7e748b61840f443093c15611bb99f8f2
4,A,2022-10-05 00:00:00+00:00,NaN,NaN,NaN,293000000.0,1.19,750000000.0,NaN,NaN,...,55000000.0,0.136,1.274000e+09,384000000.0,NaN,1.658000e+09,NaN,NaN,NaN,b61b0ac40a7ae75c4e1a0ba9e546bc7a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288201,ZTS,2021-12-27 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7000000.0,20ed4cab0ffca6a7a38f8a2b2c3c7a81
288202,ZTS,2021-12-28 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7000000.0,6bab453bd1b12980359e0c537113c74a
288203,ZTS,2021-12-29 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7000000.0,d4e832a0160807b7a36695ef3bfb431d
288204,ZTS,2021-12-30 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7000000.0,220ed0d31b1c9f9d49c603af50d85e5d
288205,ZTS,2021-12-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7000000.0,d450c11c2a8180fea28f5d1f09e5172a

In [5]:
apple = df[df['ticker']=='AAPL']
apple

,ticker,date,Amortization,Amortization Of Intangibles Income Statement,Average Dilution Earnings,Basic Average Shares,Basic EPS,Cost Of Revenue,Depletion Income Statement,Depreciation Amortization Depletion Income Statement,...,Tax Provision,Tax Rate For Calcs,Total Expenses,Total Operating Income As Reported,Total Other Finance Cost,Total Revenue,Total Unusual Items,Total Unusual Items Excluding Goodwill,Write Off,id
913,AAPL,2022-10-01 00:00:00+00:00,NaN,NaN,NaN,1.550976e+10,2.19,6.472000e+10,NaN,NaN,...,6.407000e+09,0.159,7.920200e+10,4.037300e+10,NaN,1.195750e+11,NaN,NaN,NaN,856fc6e87e98fa7d658095d5c0398677
914,AAPL,2022-10-02 00:00:00+00:00,NaN,NaN,NaN,1.550976e+10,2.19,6.472000e+10,NaN,NaN,...,6.407000e+09,0.159,7.920200e+10,4.037300e+10,NaN,1.195750e+11,NaN,NaN,NaN,91aa5a3388ce0788d513a03d25cef9ca
915,AAPL,2022-10-03 00:00:00+00:00,NaN,NaN,NaN,1.550976e+10,2.19,6.472000e+10,NaN,NaN,...,6.407000e+09,0.159,7.920200e+10,4.037300e+10,NaN,1.195750e+11,NaN,NaN,NaN,a3799b3ab3f763a23723bdc070873c7a
916,AAPL,2022-10-04 00:00:00+00:00,NaN,NaN,NaN,1.550976e+10,2.19,6.472000e+10,NaN,NaN,...,6.407000e+09,0.159,7.920200e+10,4.037300e+10,NaN,1.195750e+11,NaN,NaN,NaN,1e68bfec67c3ee81cb2f7fd2f2958e9a
917,AAPL,2022-10-05 00:00:00+00:00,NaN,NaN,NaN,1.550976e+10,2.19,6.472000e+10,NaN,NaN,...,6.407000e+09,0.159,7.920200e+10,4.037300e+10,NaN,1.195750e+11,NaN,NaN,NaN,4ab9a730570038dc6d36bc4079f8be92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229726,AAPL,2023-03-27 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,bafd04e68fd49da7bba7016f20a6cbde
229727,AAPL,2023-03-28 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,b351d04551b45f75514f85a41380a5d8
229728,AAPL,2023-03-29 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,a6d3929b8867b01ebc8c997c79191623
229729,AAPL,2023-03-30 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,07a53624dd8a19a8e35e10a817ebde99
229730,AAPL,2023-03-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53c16904a5225d4b9e305869be0821fb

In [6]:
# Function to calculate the percentage of empty cells for each column
def percentage_empty_cells_per_column(df):
    
    # Calculate the percentage of empty cells for each column
    empty_percentage = df.isna().mean() * 100
    return empty_percentage

# Function to remove columns where the percentage of empty cells is less than a given threshold
def remove_columns_with_low_empty_percentage(df, threshold):
    # Get the percentage of empty cells for each column using the first function
    empty_percentage = percentage_empty_cells_per_column(df)
    
    # Select columns with empty percentage greater than or equal to the threshold
    columns_to_keep = empty_percentage[empty_percentage >= threshold].index
    
    # Return DataFrame with the selected columns
    filtered_df = df[columns_to_keep]
    return filtered_df

threshold = 50  # Threshold percentage

df_vacias = percentage_empty_cells_per_column(df)
df_vacias

ticker                                           0.000000
date                                             0.000000
Amortization                                    82.181842
Amortization Of Intangibles Income Statement    83.133245
Average Dilution Earnings                       93.003268
                                                  ...
Total Revenue                                   20.415606
Total Unusual Items                             39.824639
Total Unusual Items Excluding Goodwill          39.824639
Write Off                                       90.140386
id                                               0.000000
Length: 87, dtype: float64

In [18]:
def remove_columns_with_low_empty_percentage(df, threshold):
    # Calculate the percentage of empty cells for each column
    empty_percentage = df.isna().mean() * 100
    
    # Select columns with empty percentage greater than or equal to the threshold
    columns_to_keep = empty_percentage[empty_percentage <= threshold].index
    
    # Return DataFrame with the selected columns
    return df[columns_to_keep]

threshold = 30  # Threshold percentage

filtered_df = remove_columns_with_low_empty_percentage(df, threshold)
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288206 entries, 0 to 288205
Data columns (total 36 columns):
 #   Column                                                      Non-Null Count   Dtype
---  ------                                                      --------------   -----
 0   ticker                                                      288206 non-null  object
 1   date                                                        288206 non-null  datetime64[us, UTC]
 2   Basic Average Shares                                        228945 non-null  float64
 3   Basic EPS                                                   228854 non-null  float64
 4   Cost Of Revenue                                             205239 non-null  float64
 5   Diluted Average Shares                                      228945 non-null  float64
 6   Diluted EPS                                                 228854 non-null  float64
 7   Diluted NI Availto Com Stockholders                         229367 non-null  float64
 8   EBIT                                                        217028 non-null  float64
 9   EBITDA                                                      207888 non-null  float64
 10  Gross Profit                                                205239 non-null  float64
 11  Interest Expense                                            211450 non-null  float64
 12  Net Income                                                  229367 non-null  float64
 13  Net Income Common Stockholders                              229367 non-null  float64
 14  Net Income Continuous Operations                            229367 non-null  float64
 15  Net Income From Continuing And Discontinued Operation       229367 non-null  float64
 16  Net Income From Continuing Operation Net Minority Interest  229367 non-null  float64
 17  Net Income Including Noncontrolling Interests               229367 non-null  float64
 18  Net Interest Income                                         224430 non-null  float64
 19  Net Non Operating Interest Income Expense                   213005 non-null  float64
 20  Normalized EBITDA                                           207888 non-null  float64
 21  Normalized Income                                           229367 non-null  float64
 22  Operating Expense                                           207890 non-null  float64
 23  Operating Income                                            207890 non-null  float64
 24  Operating Revenue                                           229367 non-null  float64
 25  Other Income Expense                                        204502 non-null  float64
 26  Pretax Income                                               229367 non-null  float64
 27  Reconciled Cost Of Revenue                                  205239 non-null  float64
 28  Reconciled Depreciation                                     224158 non-null  float64
 29  Selling General And Administration                          209786 non-null  float64
 30  Tax Effect Of Unusual Items                                 229367 non-null  float64
 31  Tax Provision                                               226347 non-null  float64
 32  Tax Rate For Calcs                                          229367 non-null  float64
 33  Total Expenses                                              217944 non-null  float64
 34  Total Revenue                                               229367 non-null  float64
 35  id                                                          288206 non-null  object
dtypes: datetime64[us, UTC](1), float64(33), object(2)
memory usage: 79.2+ MB

In [19]:
filtered_df

,ticker,date,Basic Average Shares,Basic EPS,Cost Of Revenue,Diluted Average Shares,Diluted EPS,Diluted NI Availto Com Stockholders,EBIT,EBITDA,...,Pretax Income,Reconciled Cost Of Revenue,Reconciled Depreciation,Selling General And Administration,Tax Effect Of Unusual Items,Tax Provision,Tax Rate For Calcs,Total Expenses,Total Revenue,id
0,A,2022-10-01 00:00:00+00:00,293000000.0,1.19,750000000.0,294000000.0,1.18,348000000.0,425000000.0,487000000.0,...,403000000.0,750000000.0,62000000.0,396000000.0,0.0,55000000.0,0.136,1.274000e+09,1.658000e+09,83203239d0e1d42c77b64b271fafd177
1,A,2022-10-02 00:00:00+00:00,293000000.0,1.19,750000000.0,294000000.0,1.18,348000000.0,425000000.0,487000000.0,...,403000000.0,750000000.0,62000000.0,396000000.0,0.0,55000000.0,0.136,1.274000e+09,1.658000e+09,d75bc63b32a9cca9f630e53f131d0631
2,A,2022-10-03 00:00:00+00:00,293000000.0,1.19,750000000.0,294000000.0,1.18,348000000.0,425000000.0,487000000.0,...,403000000.0,750000000.0,62000000.0,396000000.0,0.0,55000000.0,0.136,1.274000e+09,1.658000e+09,29550cb7997e3a540d64a821d26f9633
3,A,2022-10-04 00:00:00+00:00,293000000.0,1.19,750000000.0,294000000.0,1.18,348000000.0,425000000.0,487000000.0,...,403000000.0,750000000.0,62000000.0,396000000.0,0.0,55000000.0,0.136,1.274000e+09,1.658000e+09,7e748b61840f443093c15611bb99f8f2
4,A,2022-10-05 00:00:00+00:00,293000000.0,1.19,750000000.0,294000000.0,1.18,348000000.0,425000000.0,487000000.0,...,403000000.0,750000000.0,62000000.0,396000000.0,0.0,55000000.0,0.136,1.274000e+09,1.658000e+09,b61b0ac40a7ae75c4e1a0ba9e546bc7a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288201,ZTS,2021-12-27 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20ed4cab0ffca6a7a38f8a2b2c3c7a81
288202,ZTS,2021-12-28 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6bab453bd1b12980359e0c537113c74a
288203,ZTS,2021-12-29 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,d4e832a0160807b7a36695ef3bfb431d
288204,ZTS,2021-12-30 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,220ed0d31b1c9f9d49c603af50d85e5d
288205,ZTS,2021-12-31 00:00:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,d450c11c2a8180fea28f5d1f09e5172a

In [9]:
# Calculate the number of null values per column
nulls_by_column = filtered_df.isnull().sum()

# Sort the result in descending order
nulls_by_column_sorted = nulls_by_column.sort_values(ascending=False)

print(nulls_by_column_sorted)

Amortization                                            639
Other Gand A                                            639
Other Operating Expenses                                639
Other Special Charges                                   639
Other Taxes                                             639
Otherunder Preferred Stock Dividend                     639
Policyholder Benefits Ceded                             639
Policyholder Benefits Gross                             639
Preferred Stock Dividends                               639
Professional Expense And Contract Services Expense      639
Provision For Doubtful Accounts                         639
Rent And Landing Fees                                   639
Rent Expense Supplemental                               639
Restructuring And Mergern Acquisition                   639
Salaries And Wages                                      639
Securities Amortization                                 639
Selling And Marketing Expense                           639
Special Income Charges                                  639
Total Other Finance Cost                                639
Total Unusual Items                                     639
Total Unusual Items Excluding Goodwill                  639
Other Non Interest Expense                              639
Occupancy And Equipment                                 639
Amortization Of Intangibles Income Statement            639
Net Policyholder Benefits And Claims                    639
Average Dilution Earnings                               639
Depletion Income Statement                              639
Depreciation Amortization Depletion Income Statement    639
Depreciation And Amortization In Income Statement       639
Depreciation Income Statement                           639
Earnings From Equity Interest                           639
Earnings From Equity Interest Net Of Tax                639
Excise Taxes                                            639
Gain On Sale Of Business                                639
Gain On Sale Of Ppe                                     639
Gain On Sale Of Security                                639
General And Administrative Expense                      639
Impairment Of Capital Assets                            639
Insurance And Claims                                    639
Loss Adjustment Expense                                 639
Minority Interests                                      639
Net Income Discontinuous Operations                     639
Net Income Extraordinary                                639
Net Income From Tax Loss Carryforward                   639
Write Off                                               639
dtype: int64

In [26]:
try:
    # Filtramos solamente los nuevos registros
    df_incremental = bigquery.select_for_incremental(id='id', table=table_conca_to_save, new_df=df)

    if not df_incremental.empty:
        # Guardamos los datos en Bigquery
        bigquery.save_dataframe(df_incremental, project, dataset_to_save, table_to_save, if_exists='append', schema=None)
        print(f'New records loaded')
    else:
        print('No new records to load.')

# En el caso de no tener datos en Bigquery, guardamos todo el df
except Exception as e:
    bigquery.save_dataframe(df_incremental, project, dataset_to_save, table_to_save, if_exists='replace', schema=None)
    print('New data persisted')
    print(f'Exception encountered: {e}')

No new records to load.