In [1]:
from datetime import datetime
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud import bigquery
from google.cloud.exceptions import NotFound
import pandas as pd
import numpy as np
import yahoo_fin.stock_info as si
from utils.utils_bigquery import *
from datetime import *

In [2]:
key_path = key_path
project = project_id

# Sources
table = 'bronze_ticker_quarterly_balance_sheet'
dataset = 'bronze'
table_conca = f'{project}.{dataset}.{table}'

# Loading tables
table_to_save = 'silver_ticker_quarterly_balance_sheet'
dataset_to_save = 'silver'
table_conca_to_save = f'{project}.{dataset_to_save}.{table_to_save}'

In [3]:
# Conectamos con Bigquery
bigquery = BigQueryUtils(key_path)

In [5]:
df = bigquery.run_query(
    f"""
    SELECT
        bs.*
    FROM {project}.{dataset}.{table} AS bs
    INNER JOIN sara-carles-keepcoding.bronze.bronze_sp500_tickers AS sp
    ON sp.ticker = bs.ticker
    """
)
df

,index,ticker,2024-06-30,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31,2024-05-31,...,2023-08-31,2023-05-31,2023-02-28,2023-04-30,2024-01-31,2023-01-31,2024-04-30,2023-10-31,2023-07-31,2024-07-31
0,Ordinary Shares Number,ODFL,2.147581e+08,2.175987e+08,2.179309e+08,2.183579e+08,2.186749e+08,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Share Issued,ODFL,2.147581e+08,2.175987e+08,2.179309e+08,2.183579e+08,2.186749e+08,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Total Debt,ODFL,5.998300e+07,7.998000e+07,7.997700e+07,7.997400e+07,7.997000e+07,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Tangible Book Value,ODFL,4.111899e+09,4.401637e+09,4.257811e+09,4.063123e+09,3.832035e+09,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Invested Capital,ODFL,4.171882e+09,4.481617e+09,4.337788e+09,4.143097e+09,3.912005e+09,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34674,Income Tax Payable,CBOE,0.000000e+00,0.000000e+00,1.000000e+06,0.000000e+00,0.000000e+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34675,Preferred Stock,MHK,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34676,Preferred Stock,TDY,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34677,Properties,VTRS,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34678,Preferred Stock,CTLT,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = df.rename(columns={"index": "assets"})
df

,assets,ticker,2024-06-30,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31,2024-05-31,...,2023-08-31,2023-05-31,2023-02-28,2023-04-30,2024-01-31,2023-01-31,2024-04-30,2023-10-31,2023-07-31,2024-07-31
0,Ordinary Shares Number,ODFL,2.147581e+08,2.175987e+08,2.179309e+08,2.183579e+08,2.186749e+08,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Share Issued,ODFL,2.147581e+08,2.175987e+08,2.179309e+08,2.183579e+08,2.186749e+08,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Total Debt,ODFL,5.998300e+07,7.998000e+07,7.997700e+07,7.997400e+07,7.997000e+07,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Tangible Book Value,ODFL,4.111899e+09,4.401637e+09,4.257811e+09,4.063123e+09,3.832035e+09,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Invested Capital,ODFL,4.171882e+09,4.481617e+09,4.337788e+09,4.143097e+09,3.912005e+09,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34674,Income Tax Payable,CBOE,0.000000e+00,0.000000e+00,1.000000e+06,0.000000e+00,0.000000e+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34675,Preferred Stock,MHK,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34676,Preferred Stock,TDY,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34677,Properties,VTRS,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34678,Preferred Stock,CTLT,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Transformar el DataFrame a formato largo (long format)
df_unpivot = df.melt(id_vars=['ticker', 'assets'], var_name='ReportDate', value_name='Results')

# Convertir las fechas a datetime
df_unpivot['ReportDate'] = pd.to_datetime(df_unpivot['ReportDate'], format='%Y-%m-%d')

df_unpivot

       ticker                  assets ReportDate       Results
0        ODFL  Ordinary Shares Number 2024-06-30  2.147581e+08
1        ODFL            Share Issued 2024-06-30  2.147581e+08
2        ODFL              Total Debt 2024-06-30  5.998300e+07
3        ODFL     Tangible Book Value 2024-06-30  4.111899e+09
4        ODFL        Invested Capital 2024-06-30  4.171882e+09
...       ...                     ...        ...           ...
693575   CBOE      Income Tax Payable 2024-07-31           NaN
693576    MHK         Preferred Stock 2024-07-31           NaN
693577    TDY         Preferred Stock 2024-07-31           NaN
693578   VTRS              Properties 2024-07-31           NaN
693579   CTLT         Preferred Stock 2024-07-31           NaN

[693580 rows x 4 columns]

In [8]:
df_unpivot = df_unpivot.dropna()
df_unpivot

,ticker,assets,ReportDate,Results
0,ODFL,Ordinary Shares Number,2024-06-30,2.147581e+08
1,ODFL,Share Issued,2024-06-30,2.147581e+08
2,ODFL,Total Debt,2024-06-30,5.998300e+07
3,ODFL,Tangible Book Value,2024-06-30,4.111899e+09
4,ODFL,Invested Capital,2024-06-30,4.171882e+09
...,...,...,...,...
693107,DE,Other Receivables,2024-07-31,5.444000e+10
693110,DE,Accounts Receivable,2024-07-31,7.469000e+09
693113,DE,Cash Cash Equivalents And Short Term Investments,2024-07-31,8.144000e+09
693114,DE,Other Short Term Investments,2024-07-31,1.140000e+09
693115,DE,Cash And Cash Equivalents,2024-07-31,7.004000e+09

In [9]:
# Definir los trimestres con meses de presentación alternativos
def get_quarter(date):
    if date.month in [3, 4, 5]:
        return (date.year, 1)
    elif date.month in [6, 7, 8]:
        return (date.year, 2)
    elif date.month in [9, 10, 11]:
        return (date.year, 3)
    elif date.month in [12, 1, 2]:
        return (date.year if date.month == 12 else date.year - 1, 4)

df_unpivot['Quarter'] = df_unpivot['ReportDate'].apply(get_quarter)
df_unpivot

C:\Users\CARLES\AppData\Local\Temp\ipykernel_6416\3681127406.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unpivot['Quarter'] = df_unpivot['ReportDate'].apply(get_quarter)

,ticker,assets,ReportDate,Results,Quarter
0,ODFL,Ordinary Shares Number,2024-06-30,2.147581e+08,"(2024, 2)"
1,ODFL,Share Issued,2024-06-30,2.147581e+08,"(2024, 2)"
2,ODFL,Total Debt,2024-06-30,5.998300e+07,"(2024, 2)"
3,ODFL,Tangible Book Value,2024-06-30,4.111899e+09,"(2024, 2)"
4,ODFL,Invested Capital,2024-06-30,4.171882e+09,"(2024, 2)"
...,...,...,...,...,...
693107,DE,Other Receivables,2024-07-31,5.444000e+10,"(2024, 2)"
693110,DE,Accounts Receivable,2024-07-31,7.469000e+09,"(2024, 2)"
693113,DE,Cash Cash Equivalents And Short Term Investments,2024-07-31,8.144000e+09,"(2024, 2)"
693114,DE,Other Short Term Investments,2024-07-31,1.140000e+09,"(2024, 2)"
693115,DE,Cash And Cash Equivalents,2024-07-31,7.004000e+09,"(2024, 2)"

In [13]:
# Crear un DataFrame vacío para los datos diarios
daily_data = []

# Rellenar los datos diarios con los resultados trimestrales
for _, row in df_unpivot.iterrows():
    year, quarter = row['Quarter']
    if quarter == 1:
        start_date = f"{year}-01-01"
        end_date = f"{year}-03-31"
    elif quarter == 2:
        start_date = f"{year}-04-01"
        end_date = f"{year}-06-30"
    elif quarter == 3:
        start_date = f"{year}-07-01"
        end_date = f"{year}-09-30"
    elif quarter == 4:
        start_date = f"{year-1}-10-01"
        end_date = f"{year-1}-12-31"

    date_range = pd.date_range(start=start_date, end=end_date, freq='D')
    for date in date_range:
        daily_data.append({'ticker': row['ticker'], 'assets': row['assets'], 'date': date, 'Results': row['Results']})

# Crear un DataFrame con los datos diarios
daily_df = pd.DataFrame(daily_data)

daily_df

         ticker                     assets       date       Results
0          ODFL     Ordinary Shares Number 2024-04-01  2.147581e+08
1          ODFL     Ordinary Shares Number 2024-04-02  2.147581e+08
2          ODFL     Ordinary Shares Number 2024-04-03  2.147581e+08
3          ODFL     Ordinary Shares Number 2024-04-04  2.147581e+08
4          ODFL     Ordinary Shares Number 2024-04-05  2.147581e+08
...         ...                        ...        ...           ...
14529720     DE  Cash And Cash Equivalents 2024-06-26  7.004000e+09
14529721     DE  Cash And Cash Equivalents 2024-06-27  7.004000e+09
14529722     DE  Cash And Cash Equivalents 2024-06-28  7.004000e+09
14529723     DE  Cash And Cash Equivalents 2024-06-29  7.004000e+09
14529724     DE  Cash And Cash Equivalents 2024-06-30  7.004000e+09

[14529725 rows x 4 columns]

In [17]:
# Pivotar el DataFrame
pivoted_df = daily_df.pivot_table(index=['ticker', 'date'], columns='assets', values='Results')
pivoted_df = pivoted_df.reset_index()
pivoted_df.columns.name = None  # Esto elimina el nombre de la columna del indice

pivoted_df

assets,ticker,date,Accounts Payable,Accounts Receivable,Accrued Interest Receivable,Accumulated Depreciation,Additional Paid In Capital,Allowance For Doubtful Accounts Receivable,Assets Held For Sale Current,Available For Sale Securities,...,Total Non Current Assets,Total Non Current Liabilities Net Minority Interest,Total Tax Payable,Tradeand Other Payables Non Current,Trading Securities,Treasury Shares Number,Treasury Stock,Unrealized Gain Loss,Work In Process,Working Capital
0,A,2021-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A,2021-10-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A,2021-10-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A,2021-10-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A,2021-10-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295425,ZTS,2024-06-26,420000000.0,1.383000e+09,NaN,-2.590000e+09,1.146000e+09,-22000000.0,326000000.0,NaN,...,7.963000e+09,7.408000e+09,82000000.0,267000000.0,NaN,48078882.0,6.464000e+09,NaN,953000000.0,4.405000e+09
295426,ZTS,2024-06-27,420000000.0,1.383000e+09,NaN,-2.590000e+09,1.146000e+09,-22000000.0,326000000.0,NaN,...,7.963000e+09,7.408000e+09,82000000.0,267000000.0,NaN,48078882.0,6.464000e+09,NaN,953000000.0,4.405000e+09
295427,ZTS,2024-06-28,420000000.0,1.383000e+09,NaN,-2.590000e+09,1.146000e+09,-22000000.0,326000000.0,NaN,...,7.963000e+09,7.408000e+09,82000000.0,267000000.0,NaN,48078882.0,6.464000e+09,NaN,953000000.0,4.405000e+09
295428,ZTS,2024-06-29,420000000.0,1.383000e+09,NaN,-2.590000e+09,1.146000e+09,-22000000.0,326000000.0,NaN,...,7.963000e+09,7.408000e+09,82000000.0,267000000.0,NaN,48078882.0,6.464000e+09,NaN,953000000.0,4.405000e+09
295429,ZTS,2024-06-30,420000000.0,1.383000e+09,NaN,-2.590000e+09,1.146000e+09,-22000000.0,326000000.0,NaN,...,7.963000e+09,7.408000e+09,82000000.0,267000000.0,NaN,48078882.0,6.464000e+09,NaN,953000000.0,4.405000e+09

In [21]:
pivoted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295430 entries, 0 to 295429
Columns: 141 entries, ticker to Working Capital
dtypes: datetime64[ns](1), float64(139), object(1)
memory usage: 317.8+ MB

In [23]:
# Fields that make up the ID
id_fields = ['ticker', 'date']

# Apply the function to the DataFrame to create the 'id' column
pivoted_df['id'] = pivoted_df.apply(generate_id, axis=1, fields=id_fields)

pivoted_df

,ticker,date,Accounts Payable,Accounts Receivable,Accrued Interest Receivable,Accumulated Depreciation,Additional Paid In Capital,Allowance For Doubtful Accounts Receivable,Assets Held For Sale Current,Available For Sale Securities,...,Total Non Current Liabilities Net Minority Interest,Total Tax Payable,Tradeand Other Payables Non Current,Trading Securities,Treasury Shares Number,Treasury Stock,Unrealized Gain Loss,Work In Process,Working Capital,id
0,A,2021-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50929293145a80d2d71812f5d362b382
1,A,2021-10-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38a0de83f5108f6bd471b8235d5f07b0
2,A,2021-10-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,655e2ff71455ddcb15d8ff480e7211b2
3,A,2021-10-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1938840238e3632600589e6117997650
4,A,2021-10-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2b47e8a442d1ca60992f0af7af010c3b
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295425,ZTS,2024-06-26,420000000.0,1.383000e+09,NaN,-2.590000e+09,1.146000e+09,-22000000.0,326000000.0,NaN,...,7.408000e+09,82000000.0,267000000.0,NaN,48078882.0,6.464000e+09,NaN,953000000.0,4.405000e+09,6bd4487d21543cf80a7fdeaf88596dca
295426,ZTS,2024-06-27,420000000.0,1.383000e+09,NaN,-2.590000e+09,1.146000e+09,-22000000.0,326000000.0,NaN,...,7.408000e+09,82000000.0,267000000.0,NaN,48078882.0,6.464000e+09,NaN,953000000.0,4.405000e+09,fc32952149dfe2f60992cf7a4e52a435
295427,ZTS,2024-06-28,420000000.0,1.383000e+09,NaN,-2.590000e+09,1.146000e+09,-22000000.0,326000000.0,NaN,...,7.408000e+09,82000000.0,267000000.0,NaN,48078882.0,6.464000e+09,NaN,953000000.0,4.405000e+09,b1d37739e1ae956e3be5f5ce4c356d64
295428,ZTS,2024-06-29,420000000.0,1.383000e+09,NaN,-2.590000e+09,1.146000e+09,-22000000.0,326000000.0,NaN,...,7.408000e+09,82000000.0,267000000.0,NaN,48078882.0,6.464000e+09,NaN,953000000.0,4.405000e+09,68b909d23334d1eb630f800a3cfdddfe
295429,ZTS,2024-06-30,420000000.0,1.383000e+09,NaN,-2.590000e+09,1.146000e+09,-22000000.0,326000000.0,NaN,...,7.408000e+09,82000000.0,267000000.0,NaN,48078882.0,6.464000e+09,NaN,953000000.0,4.405000e+09,b0ce4a4fdefa9c356ed2b807175c2db2

In [26]:
try:
    # Filtramos solamente los nuevos registros
    df_incremental = bigquery.select_for_incremental(id='id', table=table_conca_to_save, new_df=pivoted_df)

    if not df_incremental.empty:
        # Guardamos los datos en Bigquery
        bigquery.save_dataframe(df_incremental, project, dataset_to_save, table_to_save, if_exists='append', schema=None)
        print(f'New records loaded')
    else:
        print('No new records to load.')

# En el caso de no tener datos en Bigquery, guardamos todo el df
except Exception as e:
    bigquery.save_dataframe(pivoted_df, project, dataset_to_save, table_to_save, if_exists='replace', schema=None)
    print('New data persisted')
    print(f'Exception encountered: {e}')

No new records to load.