In [1]:
from datetime import datetime
from google.cloud import bigquery
from google.oauth2 import service_account
from google.cloud import bigquery
from google.cloud.exceptions import NotFound
import pandas as pd
import numpy as np
import yahoo_fin.stock_info as si
from utils.utils_bigquery import *
from datetime import *

In [2]:
key_path = key_path
project = project_id

# Sources
table = 'bronze_ticker_quarterly_cashflow'
dataset = 'bronze'
table_conca = f'{project}.{dataset}.{table}'

# Loading tables
table_to_save = 'silver_ticker_quarterly_cashflow'
dataset_to_save = 'silver'
table_conca_to_save = f'{project}.{dataset_to_save}.{table_to_save}'

In [3]:
# Conectamos con Bigquery
bigquery = BigQueryUtils(key_path)

In [5]:
df = bigquery.run_query(
    f"""
    SELECT
        *
    FROM {project}.{dataset}.{table}
    """
)
df

,index,2024-06-30,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31,ticker,2024-07-31,...,2023-10-31,2023-07-31,2023-04-30,2023-01-31,2024-05-31,2024-02-29,2023-11-30,2023-08-31,2023-05-31,2023-02-28
0,Free Cash Flow,1.950000e+09,2.069000e+09,2.380000e+09,2.900000e+09,9.310000e+08,NaN,NaN,COP,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Repurchase Of Capital Stock,-1.017000e+09,-1.386000e+09,-1.095000e+09,-1.262000e+09,-1.298000e+09,NaN,NaN,COP,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Repayment Of Debt,-5.800000e+07,-5.050000e+08,-1.360000e+08,-4.300000e+07,-1.157000e+09,NaN,NaN,COP,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Capital Expenditure,-2.969000e+09,-2.916000e+09,-2.883000e+09,-2.545000e+09,-2.923000e+09,NaN,NaN,COP,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,End Cash Position,4.574000e+09,5.845000e+09,5.899000e+09,9.076000e+09,5.974000e+09,NaN,NaN,COP,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25809,Gain Loss On Investment Securities,0.000000e+00,4.000000e+06,0.000000e+00,0.000000e+00,NaN,NaN,0.0,PARA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25810,Gain Loss On Sale Of Business,0.000000e+00,NaN,0.000000e+00,0.000000e+00,2.200000e+07,NaN,6000000.0,TMUS,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25811,Net Short Term Debt Issuance,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,CMCSA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25812,Issuance Of Capital Stock,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,T,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25813,Common Stock Issuance,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,T,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = df.rename(columns={"index": "assets"})
df

,assets,2024-06-30,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31,ticker,2024-07-31,...,2023-10-31,2023-07-31,2023-04-30,2023-01-31,2024-05-31,2024-02-29,2023-11-30,2023-08-31,2023-05-31,2023-02-28
0,Free Cash Flow,1.950000e+09,2.069000e+09,2.380000e+09,2.900000e+09,9.310000e+08,NaN,NaN,COP,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Repurchase Of Capital Stock,-1.017000e+09,-1.386000e+09,-1.095000e+09,-1.262000e+09,-1.298000e+09,NaN,NaN,COP,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Repayment Of Debt,-5.800000e+07,-5.050000e+08,-1.360000e+08,-4.300000e+07,-1.157000e+09,NaN,NaN,COP,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Capital Expenditure,-2.969000e+09,-2.916000e+09,-2.883000e+09,-2.545000e+09,-2.923000e+09,NaN,NaN,COP,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,End Cash Position,4.574000e+09,5.845000e+09,5.899000e+09,9.076000e+09,5.974000e+09,NaN,NaN,COP,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25809,Gain Loss On Investment Securities,0.000000e+00,4.000000e+06,0.000000e+00,0.000000e+00,NaN,NaN,0.0,PARA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25810,Gain Loss On Sale Of Business,0.000000e+00,NaN,0.000000e+00,0.000000e+00,2.200000e+07,NaN,6000000.0,TMUS,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25811,Net Short Term Debt Issuance,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,CMCSA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25812,Issuance Of Capital Stock,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,T,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25813,Common Stock Issuance,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,T,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Transformar el DataFrame a formato largo (long format)
df_unpivot = df.melt(id_vars=['ticker', 'assets'], var_name='ReportDate', value_name='Results')

# Convertir las fechas a datetime
df_unpivot['ReportDate'] = pd.to_datetime(df_unpivot['ReportDate'], format='%Y-%m-%d')

df_unpivot

       ticker                              assets ReportDate       Results
0         COP                      Free Cash Flow 2024-06-30  1.950000e+09
1         COP         Repurchase Of Capital Stock 2024-06-30 -1.017000e+09
2         COP                   Repayment Of Debt 2024-06-30 -5.800000e+07
3         COP                 Capital Expenditure 2024-06-30 -2.969000e+09
4         COP                   End Cash Position 2024-06-30  4.574000e+09
...       ...                                 ...        ...           ...
516275   PARA  Gain Loss On Investment Securities 2023-02-28           NaN
516276   TMUS       Gain Loss On Sale Of Business 2023-02-28           NaN
516277  CMCSA        Net Short Term Debt Issuance 2023-02-28           NaN
516278      T           Issuance Of Capital Stock 2023-02-28           NaN
516279      T               Common Stock Issuance 2023-02-28           NaN

[516280 rows x 4 columns]

In [8]:
df_unpivot = df_unpivot.dropna()
df_unpivot

       ticker                                 assets ReportDate       Results
0         COP                         Free Cash Flow 2024-06-30  1.950000e+09
1         COP            Repurchase Of Capital Stock 2024-06-30 -1.017000e+09
2         COP                      Repayment Of Debt 2024-06-30 -5.800000e+07
3         COP                    Capital Expenditure 2024-06-30 -2.969000e+09
4         COP                      End Cash Position 2024-06-30  4.574000e+09
...       ...                                    ...        ...           ...
514546    FDS                    Deferred Income Tax 2023-02-28 -5.725000e+06
514547    FDS    Depreciation Amortization Depletion 2023-02-28  3.611000e+07
514548    FDS          Depreciation And Amortization 2023-02-28  3.611000e+07
514549    FDS                           Depreciation 2023-02-28  3.611000e+07
514550    FDS  Net Income From Continuing Operations 2023-02-28  1.315930e+08

[121968 rows x 4 columns]

In [9]:
# Definir los trimestres con meses de presentación alternativos
def get_quarter(date):
    if date.month in [3, 4, 5]:
        return (date.year, 1)
    elif date.month in [6, 7, 8]:
        return (date.year, 2)
    elif date.month in [9, 10, 11]:
        return (date.year, 3)
    elif date.month in [12, 1, 2]:
        return (date.year if date.month == 12 else date.year - 1, 4)

df_unpivot['Quarter'] = df_unpivot['ReportDate'].apply(get_quarter)
df_unpivot

C:\Users\CARLES\AppData\Local\Temp\ipykernel_15380\3681127406.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unpivot['Quarter'] = df_unpivot['ReportDate'].apply(get_quarter)

,ticker,assets,ReportDate,Results,Quarter
0,COP,Free Cash Flow,2024-06-30,1.950000e+09,"(2024, 2)"
1,COP,Repurchase Of Capital Stock,2024-06-30,-1.017000e+09,"(2024, 2)"
2,COP,Repayment Of Debt,2024-06-30,-5.800000e+07,"(2024, 2)"
3,COP,Capital Expenditure,2024-06-30,-2.969000e+09,"(2024, 2)"
4,COP,End Cash Position,2024-06-30,4.574000e+09,"(2024, 2)"
...,...,...,...,...,...
514546,FDS,Deferred Income Tax,2023-02-28,-5.725000e+06,"(2022, 4)"
514547,FDS,Depreciation Amortization Depletion,2023-02-28,3.611000e+07,"(2022, 4)"
514548,FDS,Depreciation And Amortization,2023-02-28,3.611000e+07,"(2022, 4)"
514549,FDS,Depreciation,2023-02-28,3.611000e+07,"(2022, 4)"
514550,FDS,Net Income From Continuing Operations,2023-02-28,1.315930e+08,"(2022, 4)"

In [10]:
# Crear un DataFrame vacío para los datos diarios
daily_data = []

# Rellenar los datos diarios con los resultados trimestrales
for _, row in df_unpivot.iterrows():
    year, quarter = row['Quarter']
    if quarter == 1:
        start_date = f"{year}-01-01"
        end_date = f"{year}-03-31"
    elif quarter == 2:
        start_date = f"{year}-04-01"
        end_date = f"{year}-06-30"
    elif quarter == 3:
        start_date = f"{year}-07-01"
        end_date = f"{year}-09-30"
    elif quarter == 4:
        start_date = f"{year-1}-10-01"
        end_date = f"{year-1}-12-31"

    date_range = pd.date_range(start=start_date, end=end_date, freq='D')
    for date in date_range:
        daily_data.append({'ticker': row['ticker'], 'assets': row['assets'], 'date': date, 'Results': row['Results']})

# Crear un DataFrame con los datos diarios
daily_df = pd.DataFrame(daily_data)

daily_df

,ticker,assets,date,Results
0,COP,Free Cash Flow,2024-04-01,1.950000e+09
1,COP,Free Cash Flow,2024-04-02,1.950000e+09
2,COP,Free Cash Flow,2024-04-03,1.950000e+09
3,COP,Free Cash Flow,2024-04-04,1.950000e+09
4,COP,Free Cash Flow,2024-04-05,1.950000e+09
...,...,...,...,...
11145088,FDS,Net Income From Continuing Operations,2021-12-27,1.315930e+08
11145089,FDS,Net Income From Continuing Operations,2021-12-28,1.315930e+08
11145090,FDS,Net Income From Continuing Operations,2021-12-29,1.315930e+08
11145091,FDS,Net Income From Continuing Operations,2021-12-30,1.315930e+08
11145092,FDS,Net Income From Continuing Operations,2021-12-31,1.315930e+08

In [11]:
# Pivotar el DataFrame
pivoted_df = daily_df.pivot_table(index=['ticker', 'date'], columns='assets', values='Results')
pivoted_df = pivoted_df.reset_index()
pivoted_df.columns.name = None  # Esto elimina el nombre de la columna del indice

pivoted_df

,ticker,date,Amortization Cash Flow,Amortization Of Intangibles,Amortization Of Securities,Asset Impairment Charge,Beginning Cash Position,Capital Expenditure,Capital Expenditure Reported,Cash Dividends Paid,...,Sale Of Business,Sale Of Intangibles,Sale Of Investment,Sale Of Investment Properties,Sale Of PPE,Short Term Debt Issuance,Short Term Debt Payments,Stock Based Compensation,Taxes Refund Paid,Unrealized Gain Loss On Investment Securities
0,A,2021-10-01,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,203000000.0,-324000000.0,NaN,NaN,NaN
1,A,2021-10-02,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,203000000.0,-324000000.0,NaN,NaN,NaN
2,A,2021-10-03,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,203000000.0,-324000000.0,NaN,NaN,NaN
3,A,2021-10-04,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,203000000.0,-324000000.0,NaN,NaN,NaN
4,A,2021-10-05,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,203000000.0,-324000000.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308111,ZTS,2024-06-26,NaN,NaN,NaN,11000000.0,1.975000e+09,-132000000.0,-132000000.0,-197000000.0,...,NaN,NaN,11000000.0,NaN,NaN,NaN,NaN,19000000.0,NaN,NaN
308112,ZTS,2024-06-27,NaN,NaN,NaN,11000000.0,1.975000e+09,-132000000.0,-132000000.0,-197000000.0,...,NaN,NaN,11000000.0,NaN,NaN,NaN,NaN,19000000.0,NaN,NaN
308113,ZTS,2024-06-28,NaN,NaN,NaN,11000000.0,1.975000e+09,-132000000.0,-132000000.0,-197000000.0,...,NaN,NaN,11000000.0,NaN,NaN,NaN,NaN,19000000.0,NaN,NaN
308114,ZTS,2024-06-29,NaN,NaN,NaN,11000000.0,1.975000e+09,-132000000.0,-132000000.0,-197000000.0,...,NaN,NaN,11000000.0,NaN,NaN,NaN,NaN,19000000.0,NaN,NaN
308115,ZTS,2024-06-30,NaN,NaN,NaN,11000000.0,1.975000e+09,-132000000.0,-132000000.0,-197000000.0,...,NaN,NaN,11000000.0,NaN,NaN,NaN,NaN,19000000.0,NaN,NaN

In [12]:
pivoted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308116 entries, 0 to 308115
Columns: 106 entries, ticker to Unrealized Gain Loss On Investment Securities
dtypes: datetime64[ns](1), float64(104), object(1)
memory usage: 249.2+ MB

In [13]:
# Fields that make up the ID
id_fields = ['ticker', 'date']

# Apply the function to the DataFrame to create the 'id' column
pivoted_df['id'] = pivoted_df.apply(generate_id, axis=1, fields=id_fields)

pivoted_df

,ticker,date,Amortization Cash Flow,Amortization Of Intangibles,Amortization Of Securities,Asset Impairment Charge,Beginning Cash Position,Capital Expenditure,Capital Expenditure Reported,Cash Dividends Paid,...,Sale Of Intangibles,Sale Of Investment,Sale Of Investment Properties,Sale Of PPE,Short Term Debt Issuance,Short Term Debt Payments,Stock Based Compensation,Taxes Refund Paid,Unrealized Gain Loss On Investment Securities,id
0,A,2021-10-01,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,203000000.0,-324000000.0,NaN,NaN,NaN,50929293145a80d2d71812f5d362b382
1,A,2021-10-02,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,203000000.0,-324000000.0,NaN,NaN,NaN,38a0de83f5108f6bd471b8235d5f07b0
2,A,2021-10-03,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,203000000.0,-324000000.0,NaN,NaN,NaN,655e2ff71455ddcb15d8ff480e7211b2
3,A,2021-10-04,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,203000000.0,-324000000.0,NaN,NaN,NaN,1938840238e3632600589e6117997650
4,A,2021-10-05,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,203000000.0,-324000000.0,NaN,NaN,NaN,2b47e8a442d1ca60992f0af7af010c3b
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308111,ZTS,2024-06-26,NaN,NaN,NaN,11000000.0,1.975000e+09,-132000000.0,-132000000.0,-197000000.0,...,NaN,11000000.0,NaN,NaN,NaN,NaN,19000000.0,NaN,NaN,6bd4487d21543cf80a7fdeaf88596dca
308112,ZTS,2024-06-27,NaN,NaN,NaN,11000000.0,1.975000e+09,-132000000.0,-132000000.0,-197000000.0,...,NaN,11000000.0,NaN,NaN,NaN,NaN,19000000.0,NaN,NaN,fc32952149dfe2f60992cf7a4e52a435
308113,ZTS,2024-06-28,NaN,NaN,NaN,11000000.0,1.975000e+09,-132000000.0,-132000000.0,-197000000.0,...,NaN,11000000.0,NaN,NaN,NaN,NaN,19000000.0,NaN,NaN,b1d37739e1ae956e3be5f5ce4c356d64
308114,ZTS,2024-06-29,NaN,NaN,NaN,11000000.0,1.975000e+09,-132000000.0,-132000000.0,-197000000.0,...,NaN,11000000.0,NaN,NaN,NaN,NaN,19000000.0,NaN,NaN,68b909d23334d1eb630f800a3cfdddfe
308115,ZTS,2024-06-30,NaN,NaN,NaN,11000000.0,1.975000e+09,-132000000.0,-132000000.0,-197000000.0,...,NaN,11000000.0,NaN,NaN,NaN,NaN,19000000.0,NaN,NaN,b0ce4a4fdefa9c356ed2b807175c2db2

In [14]:
try:
    # Filtramos solamente los nuevos registros
    df_incremental = bigquery.select_for_incremental(id='id', table=table_conca_to_save, new_df=pivoted_df)

    if not df_incremental.empty:
        # Guardamos los datos en Bigquery
        bigquery.save_dataframe(df_incremental, project, dataset_to_save, table_to_save, if_exists='append', schema=None)
        print(f'New records loaded')
    else:
        print('No new records to load.')

# En el caso de no tener datos en Bigquery, guardamos todo el df
except Exception as e:
    bigquery.save_dataframe(pivoted_df, project, dataset_to_save, table_to_save, if_exists='replace', schema=None)
    print('New data persisted')
    print(f'Exception encountered: {e}')

100%|██████████| 1/1 [00:00<?, ?it/s]

New data persisted
Exception encountered: 404 Not found: Table sara-carles-keepcoding:silver.silver_ticker_quarterly_cashflow was not found in location EU; reason: notFound, message: Not found: Table sara-carles-keepcoding:silver.silver_ticker_quarterly_cashflow was not found in location EU

Location: EU
Job ID: fa4ed349-f9b6-4828-9204-b89d7daa42c4